<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>App - <%= title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" type="text/css" href="css/vendor/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>

<body>

    <a href="/">Index</a> | 
    
    <% if (user) { %>
        <a href="/profile">Profile</a>
    <% } else { %>
        <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
    <% } %>